


#navbar{
    width:1110;
    height: 110;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar h5{
    margin-left:120px ;
    font-size:1.5rem;
    font-weight:700;
}

#navbar a{
    text-decoration: none;
   margin-right:34px;
   color: #3A3A3A;
   font-size:16px;
}

#navbar ul{
    list-style:none ;
    display: flex;
    margin-right:120px ;
   
      
}