


#navbar{
    width:1110;
    height: 110;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar h5{
    margin-left:120px ;
    font-size:1.5rem;
    font-weight:700;
}

#navbar a{
    text-decoration: none;
   margin-right:34px;
   color: #3A3A3A;
   font-size:16px;
}

#navbar ul{
    list-style:none ;
    display: flex;
    margin-right:120px ;
   
      
}


#banner{
    display: flex;
    max-width:1110;
    align-items: center;
}

.text-banner{
    width:582px;
    height:270px;
    margin-left:120px;
    
}

.text-banne h2{
    font-size:52px;
    font-weight:700;
    color: #3A3A3A;
}

.text-banne p{
    font-size:16px ;
    color: #3A3A3A;
}

.button{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size:1rem;
    font-weight:700;
    width:196px;
    height:44px;
    border-radius:2.56rem;
    border:none;
}
    
